<!DOCTYPE html>
<html>
    <head>
        <style>
            a:link, a:visited {
              background-color: #00d1b2;
              color: white;
              padding: 15px 100px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
            
            a:hover, a:active {
              background-color: #9bfced;
            }
            </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Laporan Level 3</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        HSI SANDBOX LEVEL 3 - SINTA RESTUTI
                    </h1>
                </div>
            </div>
        </section>
        
        <section class="section">
            <div class="container">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <!-- <div style="text-align: center"></div> -->
                            <p>
                                <h2>
                                    <a href="entries/">Diary</a>  
                                </h2>
                            </p>
                            <p>
                                <h2>
                                    <a href="weather/">Weather</a>  
                                </h2>
                            </p>
                            <p>
                                <h2>
                                    <a href="poll/">Poll</a>  
                                </h2>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </body>
</html>